.chat_main
  -# ＜チャット画面＞
  %div.chat_main__group-info 
    %div.chat_main__group-info__leftbox
      

      %div.chat_main__group-info__leftbox__groupname
        ddd
      %ul.chat_main__group-info__leftbox__memberlist
        Menber : 

        %li.chat_main__group-info__leftbox__memberlist__name
          di

    %div.chat_main__group-info__rightbox
      %a.chat_main__group-info__rightbox__edit{href: '#'} 
        Edit 
      






  %div.chat_main__message-list

    %div.chat_main__message-list__messagebox

      %div.chat_main__message-list__messagebox__info

        %div.chat_main__message-list__messagebox__info__name
          di
        %div.chat_main__message-list__messagebox__info__date
          2020

      %div.chat_main__message-list__messagebox__message

        %p.chat_main__message-list__messagebox__message__content
          こんにちは


    %div.chat_main__message-list__messagebox

      %div.chat_main__message-list__messagebox__info

        %div.chat_main__message-list__messagebox__info__name
          di
        %div.chat_main__message-list__messagebox__info__date
          2020

      %div.chat_main__message-list__messagebox__message

        %p.chat_main__message-list__messagebox__message__content
          こんにちは


    %div.chat_main__message-list__messagebox

      %div.chat_main__message-list__messagebox__info

        %div.chat_main__message-list__messagebox__info__name
          di
        %div.chat_main__message-list__messagebox__info__date
          2020

      %div.chat_main__message-list__messagebox__message

        %p.chat_main__message-list__messagebox__message__content
          こんにちは





  %div.chat_main__message-form 
    ya-ya