.chat_main
  .chat_main__group-info 
    .chat_main__group-info__leftbox
      

      .chat_main__group-info__leftbox__grouplist
        ddd
      %ul.chat_main__group-info__leftbox__memberlist
        Member : 

        %li.chat_main__group-info__leftbox__memberlist__name
          di

    .chat_main__group-info__rightbox
      = link_to "#", class: "chat_main__group-info__rightbox__edit" do
        Edit 
      






  .chat_main__message-list


    .chat_main__message-list__messagebox

      .chat_main__message-list__messagebox__info-ss

        .chat_main__message-list__messagebox__info-ss__name-ww
          di
        .chat_main__message-list__messagebox__info-ss__date-ww
          2020

      .chat_main__message-list__messagebox__message-ss

        %p.chat_main__message-list__messagebox__message-ss__content
          こんにちは




    .chat_main__message-list__messagebox

      .chat_main__message-list__messagebox__info-ss

        .chat_main__message-list__messagebox__info-ss__name-ww
          di
        .chat_main__message-list__messagebox__info-ss__date-ww
          2020

      .chat_main__message-list__messagebox__message-ss

        %p.chat_main__message-list__messagebox__message-ss__content
          こんにちは

          


    .chat_main__message-list__messagebox

      .chat_main__message-list__messagebox__info-ss

        .chat_main__message-list__messagebox__info-ss__name-ww
          di
        .chat_main__message-list__messagebox__info-ss__date-ww
          2020

      .chat_main__message-list__messagebox__message-ss

        %p.chat_main__message-list__messagebox__message-ss__content
          こんにちは











  .chat_main__message-form3 

    .chat_main__message-form3__longbox4

      .chat_main__message-form3__longbox4__formcontent5

        %input.chat_main__message-form3__longbox4__formcontent5__inputfield6{placeholder: 'type a message'}

        %label.chat_main__message-form3__longbox4__formcontent5__imagefield6
          = icon('far', 'image', class:'chat_main__message-form3__longbox4__formcontent5__imagefield6__icon7')
          %input.chat_main__message-form3__longbox4__formcontent5__imagefield6__file7{type: "file"}
        
        
          

      %input.chat_main__message-form3__longbox4__sendtcontent5{type: 'submit',value: 'Send',name:'send'}
