.side_bar
  -# ＜サイドバー＞

  %div.side_bar__top3 
    -# hoge
    %div.side_bar__top3__box4

      %h3.side_bar__top3__box4__username5
        dadadad
      %ul.side_bar__top3__box4__iconlist5

        %li.side_bar__top3__box4__iconlist5__1
          = link_to "#", class: "side_bar__top3__box4__iconlist5__1__edit" do
            = icon('fas', 'edit',  class: "side_bar__top3__box4__iconlist5__1__edit--icon6")


        %li.side_bar__top3__box4__iconlist5__2
          %a.side_bar__top3__box4__iconlist5__2__cog{href:'#'}
            =icon('fas', 'cog', class:'side_bar__top3__box4__iconlist5__2__cog--icon6')



  %div.side_bar__main3
    -# teck
    %div.side_bar__main3__group4
      %div.side_bar__main3__group4__name5
        teckcamp
      %div.side_bar__main3__group4__message5
        メッセージはありません


    %div.side_bar__main3__group4
      %div.side_bar__main3__group4__name5
        teckcamp
      %div.side_bar__main3__group4__message5
        メッセージはありません


    %div.side_bar__main3__group4
      %div.side_bar__main3__group4__name5
        teckcamp
      %div.side_bar__main3__group4__message5
        メッセージはありません


