.side_bar
  -# ＜サイドバー＞

  %div.side_bar__top 
    -# hoge
    %div.side_bar__top__box

      %h3.side_bar__top__box__username
        dadadad
      %ul.side_bar__top__box__iconlist

        %li.side_bar__top__box__iconlist__1
          = link_to "#", class: "side_bar__top__box__iconlist__1__edit" do
            = icon('far', 'edit',  class: "side_bar__top__box__iconlist__1__edit--icon")


        %li.side_bar__top__box__iconlist__2
          = link_to "#", class: "side_bar__top__box__iconlist__2__cog" do
            = icon('fas', 'cog',  class: "side_bar__top__box__iconlist__2__cog--icon")



  %div.side_bar__main
    -# teck
    %div.side_bar__main__group
      %div.side_bar__main__group__name
        teckcamp
      %div.side_bar__main__group__message
        メッセージはありません

