.side_bar

  .side_bar__top3 
    .side_bar__top3__box4

      %h3.side_bar__top3__box4__username5
        = current_user.name
      %ul.side_bar__top3__box4__iconlist5

        %li.side_bar__top3__box4__iconlist5__1
          = link_to new_group_path(current_user), class: "side_bar__top3__box4__iconlist5__1__edit" do
            = icon('fas', 'edit',  class: "side_bar__top3__box4__iconlist5__1__edit--icon6")


        %li.side_bar__top3__box4__iconlist5__2
          = link_to edit_user_path(current_user), class: "side_bar__top3__box4__iconlist5__2__cog" do
            =icon('fas', 'cog', class:'side_bar__top3__box4__iconlist5__2__cog--icon6')



  .side_bar__main3
    .side_bar__main3__group4
      .side_bar__main3__group4__name5
        teckcamp
      .side_bar__main3__group4__message5
        メッセージはありません


    .side_bar__main3__group4
      .side_bar__main3__group4__name5
        teckcamp
      .side_bar__main3__group4__message5
        メッセージはありません


    .side_bar__main3__group4
      .side_bar__main3__group4__name5
        teckcamp
      .side_bar__main3__group4__message5
        メッセージはありません


