* {
  box-sizing: border-box;
}


.wrapper {
  border: solid 1px blueviolet;
  height: 100vh;
  width: 100vw;
  display: flex;
}









.side_bar {
  border: solid 1px black;
  height: 100vh;
  width: 300px;
  

  &__user-name {
    border: solid 1px blue;
    height: 100px;
    background-color: #253141;
  }

  &__group-list {
    border: solid 1px blue;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }

}






.chat_main {
  border: solid 1px red;
  height: 100vh;
  width: calc(100vw - 300px);
  
  

  &__group-info {
    border: solid 1px green;
    height: 100px;
    background-color: #ffffff;
  }

  &__message-list {
    border: solid 1px gold;
    height: calc(100vh - 100px - 90px);
  }

  &__message-form {
    border: solid 1px lightgreen;
    height: 90px;
  }


}